name: Tests
on: [push]

jobs:
  build:
    name: build-app
    runs-on: windows-latest
    env:
      BUN_INSTALL_CACHE_DIR: ${{ github.workspace }}\.cache\bun
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install bun
        uses: oven-sh/setup-bun@v2

      - name: Cache Bun install cache
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}\.bun\install\cache
          key: ${{ runner.os }}-bun-install-cache-${{ hashFiles('**/bun.lockb') }}
          restore-keys: |
            ${{ runner.os }}-bun-install-cache-

      - name: Install dependencies
        run: bun install

      - name: Add daemon bins to PATH
        run: echo "${{ github.workspace }}\apps\daemon\bin" >> $env:GITHUB_PATH

      - name: Run TypeScript Compiler
        run: bun run tsc

      - name: Build Webapp
        run: bun run webapp:build

      - name: Build Daemon
        run: bun run daemon:build

      - name: Build Launcher
        run: bun run launcher:build

      - name: Run tests
        run: bun test

      - name: Upload log artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Logs
          path: logs/

      - name: Upload Daemon Build Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: dcs-dropzone-daemon.tar
          path: 'apps/daemon/dist/dcs-dropzone-daemon.tar'

      - name: Upload Daemon Build Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: dcs-dropzone-daemon.tar.manifest
          path: 'apps/daemon/dist/dcs-dropzone-daemon.tar.manifest'

      - name: Upload Launcher Build Artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: launcher.exe
          path: 'apps/launcher/dist/launcher.exe'

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: 'unit.junit.xml'
